body {
  margin: 0;
}

#center {
  width: 70%;
  margin: auto;
  text-align: center;
}

table, td, th {
  border: solid 1px;
  padding: 1em;
  text-align: left;
}

th {
  background: lightgray;
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 1em;
}

#form_table td {
  border: none;
  padding: 0.5em;
}

button {
  font-size: 24px;
}
